:root {
    --dark-blue
    --med-blue: #3268a8;
    --light-blue
    --very-light: #dfe8f2;
    }

body {
    display: flex;
    flex-direction: column;
    light height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: med-blue;
    color: very-light;
}

h1 {
    font-size: 200%;
}

nav a {
    color: very-light;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between right;
    min-width: 300px;
    font-size: 125%;
}